# apex install manually!
scipy
numpy
tqdm
scikit-learn
nltk
torch>=1.2.0
allennlp
fairseq
transformers
pillow
dataclasses-json
cython
tensorflow~=1.14.0
tensorflow-hub
tensorboard
sentencepiece
tf-sentencepiece
fasttext
awscli
future
python-telegram-bot
